/* .menuList > .list1 {
    transform: translateX(-100%);
    transition: 1s ease-in-out;
}
.menuList > .list2 {
    transform: translateX(-100%);
    transition: 1.2s ease-in-out;
}
.menuList > .list3 {
    transform: translateX(-100%);
    transition: 1.4s ease-in-out;
} */

.menuBlock {
    /* display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    text-align: justify;
    font-size: 16px;
    padding: 12px 3px; */
    display: none;
}

